html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

div {
    padding: 0;
}

.panel-heading {
    padding: 10px;
    color: #515151;
}

.panel-body {
    padding: 10px;
}

.panel-margin {
    padding: 20px;
}

.panel-box {
    height: 50%;
}

.panel-size {
    height: 100%;
}

.home-body {
    position: absolute;
    top: 0px;
    width: 90%;
    bottom: 0px;
}

.btn-position {
    position: absolute;
    right: 50px;
    margin-top: -6px;
}

.modal-style {
    width: 1200px;
    height: 600px;
    position: absolute;
    top: 50%;
    margin-top: -300px;
}

.card_style {
    width: 100%;
    position: absolute;
    top: 45px;
    bottom: 20px;
    border-top-color: #fff;
}

.card_style2 {
    width: 500px;
    height: 500px;
}

.body-style {
    height: 400px;
}

.panel-box {
    position: relative;
    width: 50%;
    height: 400px;
}

.panel-box_2 {
    position: relative;
    width: 100%;
    height: 100%;
}

.panelbody-box {
    width: 100%;
    height: 89%;
    position: relative;
}
