<div class="col-xs-12 item">
    <div class="text_position">

        <div class="col-xs-2">
            {{chartlistitem.Title_Text}}
        </div>
        <div class="col-xs-1">
            <div [ngClass]="typeclass"></div>
        </div>
    </div>
    <div class=" button_position">
        <button type="button" class="btn btn-default btn_margin btn_yellow" (click)='edititem()'> 编辑</button>


        <button type="button" class="btn btn-default btn_margin btn_green" (click)='deleteitem()'>删除</button>

    </div>
</div>