<div class="list_body col-xs-12">

    <div class="panel panel-default panel-box" id="list_panel">
        <div class="panel-heading panel-cst">
            <p class="panel-title">

                <i class="fa fa-cubes"></i> 配置数据源列表

            </p>
        </div>
        <div class="operation">
            <div class="button-box">
                <button type="button" class="btn btn-default btn_margin btn_blue" (click)="add()">新增</button>


            </div>


        </div>

        <div class="listitems_box overflow">
            <div class="col-xs-12 list_strip">
                <div class="col-xs-12 item">
                    <div class="text_position">

                        <div class="col-xs-2">
                            数据标题
                        </div>

                    </div>

                </div>
                <cst-source-listitem *ngFor="let sourcelistitem of sourcelistitems" [sourcelistitem]="sourcelistitem" (editEvent)="Edit_ChildEvent($event)"
                    (deleteitemEvent)="Deleteitem_ChildEvent($event)" (deleteidEvent)="Deleteid_ChildEvent($event)">
                </cst-source-listitem>
            </div>
        </div>

    </div>

    <cst-source-set (additemEvent)="Additem_ChildEvent($event)" [editdata]="editdata"></cst-source-set>
