#list_panel {
    height: 94%;
    position: relative;
    width: 100%;
}

.overall {
    width: 100%;
    height: 100%;
}

.panel-box {
    border: none;
}

.panel-cst {
    color: #333333;
    border-color: #fff;
    padding-left: 15px;
    border: none;
    display: flex;
}

.panel-title {
    font-size: 15px;
    padding-left: 15px;
}

.operation {
    height: 50px;
}

.button-box {
    position: absolute;
    left: 100px;
}

.btn_margin {
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: #515151;
}

.btn_green {
    border-color: #85bb44;
}

.btn_blue {
    border-color: #398fcb;
}

.listitems_box {
    height: 85%;
}

.overflow {
    overflow: auto;
}

.item {
    border-bottom: 1px dashed #bcbcbc;
    width: 80%;
    margin-left: 120px;
    height: 50px;
    position: relative;
    cursor: pointer;
}

.list_strip {
    height: 50px;
    position: relative;
    cursor: pointer;
}

.text_position {
    line-height: 50px;
}