<div class="home-body">
    <div class="row">
    <div class="panel-margin  col-xs-6 panel-box">
        <nz-card>
            <ng-template #body>
                    <cst-home-config [configdata]="homesetlist[0]" (saveidEvent)="SaveIdEvent($event)"></cst-home-config>
            </ng-template>
        </nz-card>

</div>
<div class="panel-margin  col-xs-6 panel-box">
        <nz-card>
                <ng-template #body>

            <cst-home-config [configdata]="homesetlist[1]" (saveidEvent)="SaveIdEvent($event)"></cst-home-config>

                </ng-template>
        </nz-card>
</div>
</div>
<div class="row">
<div class="panel-margin  col-xs-6 panel-box">
        <nz-card>
                <ng-template #body>
            <cst-home-config [configdata]="homesetlist[2]" (saveidEvent)="SaveIdEvent($event)"></cst-home-config>
                </ng-template>
        </nz-card>
</div>
<div class="panel-margin  col-xs-6 panel-box">
        <nz-card>
                <ng-template #body>
            <cst-home-config [configdata]="homesetlist[3]"></cst-home-config>
                </ng-template>
        </nz-card>
</div>
</div>
</div>
